<h1>Listing saltydog_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saltydog_groups.each do |saltydog_group| %>
  <tr>
    <td><%= saltydog_group.name %></td>
    <td><%= saltydog_group.description %></td>
    <td><%= link_to 'Show', saltydog_group %></td>
    <td><%= link_to 'Edit', edit_saltydog_group_path(saltydog_group) %></td>
    <td><%= link_to 'Destroy', saltydog_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saltydog group', new_saltydog_group_path %>
