<%= debug params %>
<div class="row">
	<div class= "col-sm-3">
		<%= hidden_field_tag "search_string", @search_string  %>
		<%= hidden_field_tag "map_title", @title  %>
		<%= hidden_field_tag "map_subtitle", @subtitle  %>
		<%= hidden_field_tag "continent", @view_item  %>


		<%= binding.pry %>

		<div id="things", data-stats= "<%=@things%>" %></div>


	<h4 data-toggle="tooltip" data-placement= "top" title="Investment sectors provided by the IMA"><span><%=link_to "back to main view",  "/home/show_area?continent=home" %>  </span>Investment Sectors</h3>
	<div class="constrainer_sector">
    	<div class="scrolltable">
		<table class="table-bordered">
			<tr>
				<th width="60%">
					Sector name
					<p><small>(No. of funds)<small></p>
				</th>
				<!-- <th>
					Stats
				</th> -->
				<th data-toggle="tooltip" data-placement= "top" title="Number of funds within the risk group in this sector that have moved up from last week" width="20%">
					Decile Risers
				</th>
				<th data-toggle="tooltip" data-placement= "top" title="'Rising' means that the mean gain across all funds in the sector has gone up from last week, 'Falling' vice versa, 'Stable' no change." width="10%">
					Sector Perf.
				</th>
			</tr>
		</table>
		<div class="body">
			<table class="table-bordered body">
			<% @sectors.each do |s| %>
			<tr class="<%=@stats[s[0]][2] %>">
				<td width="60%" style="text-align:left;">
					
					
				<%=link_to s[0], "/home/show_investment_sector?investment_sector="+s[1], data:{toggle: "tooltip", placement: "right"}, title: @stats[s[0]][0]  %><span>(<%=@stats[s[0]][1]%>)</span>
				
				</td>
				<!-- <td><%=@stats[s[0]][0]%></td> -->
				<td width="20%"><%=s[2]%></td>
				<td width="10%"><%=s[3]%></td>
			</tr>
				<% end %>
		</table>
		</div>
	</div>
</div>
			<!-- <ul>
				<% @sectors.each do |s| %>
					<li><%=link_to s[0], "/home/show_investment_sector?investment_sector="+s[1],class: @stats[s[0]][2], data:{toggle: "tooltip", placement: "right"}, title: @stats[s[0]][0]  %><span>(<%=@stats[s[0]][1]%>)</span></li>
				<% end %>
			</ul> -->
		<!-- </nav> -->
	</div>

	<div class = "col-sm-5">
	<div id="fund_details_show" >
		<div class="col-sm-6">
			<div class="fund_details_text">
			
				<h4 style="text-align: left;">Fund Details</h4>
				<table class="table">
					<tr>
						<td>Name : </td>
						<td><p id="fund_name" style="text-align: left;"></p></td>
					</tr>
					<tr>
						<td>Sector : </td>
						<td><p id="fund_sector" style="text-align: left;"></p></td>
					</tr>
					<tr>
						<td>ISIN : </td>
						<td><p id="fund_isin" style="text-align: left;"></p></td>
					</tr>
				<!-- 	<tr>
						<td>Area</td>
						<td><p id="fund_area" style="text-align: left;"></p></td>

					</tr> -->
				</table>
				<br />
				<h4 style="text-align: left;">Measures</h4>
			

				<table class="table-bordered header">
				  <tr>
				    <th width="15%" class="text-center">Measures</th>
				    <th width="20%" class="text-center">% Price Change</th>
				    <th width="25%" class="text-center">Decile Rank in Group</th>
				  </tr>
				  <tr>
				  	<td>Last 4 weeks</td>
				  	<td id = "rate4"></td>
				  	<td id = "decile4"></td>
				  </tr>

				   <tr>
				  	<td>Last Quarter</td>
				  	<td id="rate12"></td>
				  	<td id="decile12"> </td>
				  </tr>
				  <tr>
				  	<td>Last 1/2 Year</td>
				  	<td id="rate26"></td>
				  	<td id="decile26"></td>
				  </tr>

				</table>
			</div>
		
		</div>
		<button class="btn btn-info" id="close_fund_panel">Return to Map</button>
		<div class= "col-sm-5">
			<h4 style="text-align: left;">Last 12 weeks</h4>
			<table class="table-bordered header">
				  <tr>
				    <th width="15%" class="text-center">Week No</th>
				    <th width="80%" class="text-center">Decile Ranking in Group</th>
				  </tr>
				  <tr>
				  	<td>1</td>
				  	<td id="decile_1"></td>
				  </tr>
				   <tr>
				  	<td>2</td>
				  	<td id="decile_2"></td>
				  </tr>
				    <tr>
				  	<td>3</td>
				  	<td id="decile_3"></td>
				  </tr>
				   <tr>
				  	<td>4</td>
				  	<td id="decile_4"></td>
				  </tr>

				   <tr>
				  	<td>5</td>
				  	<td id="decile_5"></td>
				  </tr>

				   <tr>
				  	<td>6</td>
				  	<td id="decile_6"></td>
				  </tr>

				   <tr>
				  	<td>7</td>
				  	<td id="decile_7"></td>
				  </tr>
				   <tr>
				  	<td>8</td>
				  	<td id="decile_8"></td>
				  </tr>
				   <tr>
				  	<td>9</td>
				  	<td id="decile_9"></td>
				  </tr>
				   <tr>
				  	<td>10</td>
				  	<td id="decile_10"></td>
				  </tr>
				    <tr>
				  	<td>11</td>
				  	<td id="decile_11"></td>
				  </tr>
				    <tr>
				  	<td>12</td>
				  	<td id="decile_12"></td>
				  </tr>
				</table>
			<!-- <div class="fund_details_gauges">
				<div class="gauges col-sm-6">
					This week decile
					<section>
					  <div data-fill="0" class="step-gauge"></div>
					  <div data-fill="10" class="step-gauge"></div>
					  <div data-fill="20" class="step-gauge"></div>
					
					</section>
					Fund Sector Area
				</div>
				<div class="gauges col-sm-6">
					Last Week decile
					<section class="gauges">
					  <div data-fill="0" class="step-gauge"></div>
					  <div data-fill="10" class="step-gauge"></div>
					  <div data-fill="20" class="step-gauge"></div>
					
					</section>
					Fund Sector Area
				</div>
			</div> -->
			
		</div>
	</div>
	
		<div id="map_container">
		    <div class="loading">
		        <i class="icon-spinner icon-spin icon-large"></i>
		        Loading data....
		    </div>
		 </div>
		 <h4>Area stats</h4>
		 <% if @continents.count==1 %>
	 		<p><%=@continents[0]%>: <span> Number of funds <%=@stats[@continents[0]][1] %></span></p>
		   <p>Stats <%=@stats[@continents[0]][0] %></p>

		<% else %>
	   		<p><%=@continents[1]%><span> Number of funds <%=@stats[@continents[1]][1] %></span></p>
	   		<p>Stats <%=@stats[@continents[1]][0] %></p>
		<% end %>
		 
			<%= link_to "Home", "/home/show_area?continent=home", class: "up" %></li>
				<% if @continents.count == 1 %>
					<%= link_to @continents[0], "/home/show_area?continent="+@continents[0], class: @stats[@continents[0]][2], data:{toggle: "tooltip", placement: "right"}, title: @stats[@continents[0]][0] %><span>(<%= @stats[@continents[0]][1]%>)</span>
				<% else %>
					<% @continents.each do |c| %>
						<%= link_to c, "/home/show_area?continent="+c, class: @stats[c][2], data:{toggle: "tooltip", placement: "right"}, title: @stats[c][0] %><span>(<%=@things_view[c]["value"] %>)</span>
				
					<% end %>
				<% end %>
			



	<%= form_for @search_string, :method => 'get' do  %>

		<%= hidden_field_tag "continent", @view_item  %>
		<%= hidden_field_tag "investment_sector", @investment_sector  %>

		 <h4>Risk Groups</h4>
		<% @groups_selectable.each do |a| %>

			<%= check_box_tag("groups[]", a[0], @groups.include?(a[0].to_s), class: "sl_group") %>
	
    		<%=h "#{a[1]}(#{a[2]})" %>
		<% end %>

		<h4>Time Period selection (weeks)</h4>

		<% ["4", "12", "26"].each do |t| %>

			<% if @time == t %>

				<%=radio_button_tag "time", t, true %>

			<% else %>

				<%=radio_button_tag "time", t, false %>
				
			<% end %>
			<%=h t %>
		<% end %>

		<h4>% price change or <span data-toggle="tooltip" data-placement= "top" title="Each fund is ranked by decile by top 10% (1) down the bottom 10%(10) within the risk group. A higher decile ranking at individual fund or aggregate level is a better area/fund">decile ranking<span></h4>
		<% ["%Price Change", "Decile"].each do |c| %>

			<% if @measure.to_s == c %>
			
				<%=radio_button_tag "measure", c , true %>
			<% else %>
			
				<%=radio_button_tag "measure", c , false %>
			<% end %>
			<%=h c %>
		<% end %>
		<br/>
		<%= submit_tag "Apply filter", :name=> nil, class: "btn btn-info" %>
	<% end %>

	</div>
	<div class= "col-sm-4" >
		<h4><%=@title%></h4>
		<h4><%=@subtitle%></h4>
			<div class="constrainer">
    			<div class="scrolltable">
				

					<table class="table-bordered header">
					  <tr>
					    <th width="30%">Name</th>
					    <% if @measure=="%Price Change" %>
					    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Cumulative price change over the period.">% Price Change</th>
					    <% else %>

					    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Decile ranking for period">Decile Ranking</th>
					    <% end %>


					    <th width="20%" data-toggle="tooltip" data-placement= "top" title="'Rising' means the fund decile ranking has increased from last week, 'Falling' vice versa, 'Stable' no change.">Group Perf.</th>
					    <th width="25%" data-toggle="tooltip" data-placement= "top" title="Risk group provided by a 3rd party" >Risk Group</th>
					  </tr>
					</table>
					  <div class="body">
					  	<table class="table-bordered body">

						<% @fund_records.each do |fr| %>

							<% if fr.wr4 > 0 %>
							<% color = "up" %>
							<% elsif fr.wr4 == 0 %>
							<% color = "stable" %>
							<% else %>
							<% color = "down" %>
							<% end %>

							
							 <tr class= "<%=color %> fund_details_row" >
							 	<td style="display:none;"><%=fr.fund_id %></td>
							    <td width="30%"><span class="glyphicon glyphicon-star-empty clickable-div blank-star pull-left"></span><%= link_to fr.fund_name, "#", class: "fund_details_link", value: fr.record_id %></td>
							    <td class="text-center" width="15%"><%=fr.wr4 %></td>
							    <td width="20%"><%= fr.group_per %></td>
							    <td  width="25%"><%=fr.saltydog_group %></td>
							  </tr>

						<% end %>
				
						<!-- </ul> -->
					</table>
					</div>
				</div>
			</div>

			<h3>Selected funds</h3>
			
			<div class="constrainer">
    			<div class="scrolltable">

					<table class="table-bordered" >
					  <tr>
					    <th width="30%">Name</th>
					     <% if @measure=="%Price Change" %>
					    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Cumulative price change over the period.">% Price Change</th>
					    <% else %>

					    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Decile ranking for period">Decile Ranking</th>
					    <% end %>
					    <th width="20%">Sector Perf.</th>
					    <th width="25%">SaltyDog Grp</th>
					  </tr>
					 </table>
					  <div class="body">
					 <table id="selected_funds">
						
							 

					
				
						<!-- </ul> -->
					</table>
				</div>
				</div>
			</div>

	



	</div>
</div>

	<!-- <h1>Vertical 4 steps gauge</h1>
	<section>
	  <div data-fill="0" class="step-gauge"></div>
	  <div data-fill="10" class="step-gauge"></div>
	  <div data-fill="20" class="step-gauge"></div>
	  <div data-fill="30" class="step-gauge"></div>
	  <div data-fill="40" class="step-gauge"></div>
	  <div data-fill="50" class="step-gauge"></div>
	  <div data-fill="60" class="step-gauge"></div>
	  <div data-fill="70" class="step-gauge"></div>
	  <div data-fill="80" class="step-gauge"></div>
	  <div data-fill="90" class="step-gauge"></div>
	  <div data-fill="100" class="step-gauge"></div>
	</section> -->
 </div>