
<div class="constrainer">
	<div class="scrolltable">

		<table class="table-bordered" >
		  <tr>
		    <th width="30%">Name</th>
		     <% if @measure=="%Price Change" %>
		    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Cumulative price change over the period.">% Price Change</th>
		    <% else %>

		    	<th width="15%" data-toggle="tooltip" data-placement= "top" title="Decile ranking for period">Decile Ranking</th>
		    <% end %>
		    <th width="20%">Sector Perf.</th>
		    <th width="25%">SaltyDog Grp</th>
		  </tr>
		 </table>
		
		<div class="body">
			 <table id="selected_funds">

				<% unless @funds_selected[0].nil? %>

					<% @funds_selected[0].each do |fr| %>
						<% if fr.wr4 > 0 %>
						<% color = "up" %>
						<% elsif fr.wr4 == 0 %>
						<% color = "stable" %>
						<% else %>
						<% color = "down" %>
						<% end %>

						
						 <tr class= "<%=color %> fund_details_row" >
						 	<td style="display:none;"><%=fr.fund_id %></td>
						    <td width="30%"><span class="glyphicon glyphicon-star-empty clickable-div blank-star pull-left"></span><%= link_to fr.fund_name, "#", class: "fund_details_link", value: fr.id %></td>
						    <td class="text-center" width="15%"><%=fr.wr4 %></td>
						    <td width="20%"><%= fr.group_performance %></td>
						    <td  width="25%"><%=fr.fund.saltydog_group.name %></td>
						   
						  </tr>

					<% end %>
				<% end %>		 
				<!-- </ul> -->
			</table>
		</div>
	</div>
</div>