<h1 id="notice"><%= notice %></h1>


<h2>Import Records</h2>

<%= form_tag import_fund_records_path, multipart: true do %>
    
    <%=file_field_tag :file, class: "btn btn-info" %>
    <%=submit_tag "Import Records", class: "btn btn-success" %>
<% end %>


<%=paginate @fund_records %>

<% if !@last_file.nil? %>
<h3><%=@last_file.creation_date %> </h3>
<% end %>

<h2>Total number of records <%=@all_records %> </h2>
<h2>Number of records with geographies <%=@record_count %></h2>


<h1>Listing fund_records</h1>

<table class="table-bordered">
  <tr>
    <th>Year</th>
    <th>Sector</th>
    <th>Fund</th>

    <th>Wr4</th>
    <th>Wr12</th>
    <th>Wr26</th>
  
    <th>Fund size</th>
    <th>Isin</th>
    <th>Time Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fund_records.each do |fund_record| %>
  <tr>
    <td><%= fund_record.file_stat.year_period %></td>
    <td><%= fund_record.fund.sector %></td>
    <td><%= fund_record.fund.name %></td>
   
    <td><%= fund_record.wr4 %></td>
    <td><%= fund_record.wr12 %></td>
    <td><%= fund_record.wr26 %></td>

    <td><%= fund_record.fund_size %></td>
    <td><%= fund_record.fund.isin %></td>
    <td><%= fund_record.file_stat.time_point.time_period %></td>
    <td><%= link_to 'Show', fund_record %></td>
    <td><%= link_to 'Edit', edit_fund_record_path(fund_record) %></td>
    <td><%= link_to 'Destroy', fund_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Fund record', new_fund_record_path %>
