<p id="notice"><%= notice %></p>

<p>
  <b>Sector:</b>
  <%= @fund_record.sector %>
</p>

<p>
  <b>Fund:</b>
  <%= @fund_record.fund_name %>
</p>

<p>
  <b>D1:</b>
  <%= @fund_record.d1 %>
</p>

<p>
  <b>D2:</b>
  <%= @fund_record.d2 %>
</p>

<p>
  <b>D3:</b>
  <%= @fund_record.d3 %>
</p>

<p>
  <b>D4:</b>
  <%= @fund_record.d4 %>
</p>

<p>
  <b>D5:</b>
  <%= @fund_record.d5 %>
</p>

<p>
  <b>D6:</b>
  <%= @fund_record.d6 %>
</p>

<p>
  <b>D7:</b>
  <%= @fund_record.d7 %>
</p>

<p>
  <b>D8:</b>
  <%= @fund_record.d8 %>
</p>

<p>
  <b>D9:</b>
  <%= @fund_record.d9 %>
</p>

<p>
  <b>D10:</b>
  <%= @fund_record.d10 %>
</p>

<p>
  <b>D11:</b>
  <%= @fund_record.d11 %>
</p>

<p>
  <b>D12:</b>
  <%= @fund_record.d12 %>
</p>

<p>
  <b>Wr4:</b>
  <%= @fund_record.wr4 %>
</p>

<p>
  <b>Wr12:</b>
  <%= @fund_record.wr12 %>
</p>

<p>
  <b>Wr26:</b>
  <%= @fund_record.wr26 %>
</p>

<p>
  <b>Wd4:</b>
  <%= @fund_record.wd4 %>
</p>

<p>
  <b>Wd12:</b>
  <%= @fund_record.wd12 %>
</p>

<p>
  <b>Wd26:</b>
  <%= @fund_record.wd26 %>
</p>

<p>
  <b>Fund size:</b>
  <%= @fund_record.fund_size %>
</p>

<p>
  <b>Isin:</b>
  <%= @fund_record.isin %>
</p>


<%= link_to 'Edit', edit_fund_record_path(@fund_record) %> |
<%= link_to 'Back', fund_records_path %>
