
<h1> Funds Summary page </h1>
<%=paginate @funds %>

<h2>Number of records <%=@funds_count %></h2>


<h2>Download record set <%= link_to "download", funds_downloads_path %>

<h2>Countries with investment funds</h2>

<table class="table-bordered" >
  <tr>
    <th>Country</th>
    <th>No. of funds</th>

    
  </tr>

<% @fund_countries.each do |fund| %>
  <tr>
    <td><%= fund["country"] %></td>
    <td><%= fund["country_funds"] %></td>


  </tr>
<% end %>
</table>


<h2>Regions with investment funds</h2>

<table class="table-bordered" >
  <tr>
    <th>Region</th>
    <th>No. of funds</th>
  
    
  </tr>

<% @fund_ias.each do |fund| %>
  <tr>
    <td><%= fund["region"] %></td>
    <td><%= fund["region_funds"] %></td>
  </tr>
<% end %>
</table>





<h2>List of funds with a country or region</h2>

<table class="table-striped" >
  <tr>
    <th>Name</th>
    <th>Sector</th>
    <th>Country</th>
    <th>Continent</th>
    <th>ISIN</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funds.each do |fund| %>
  <tr>
    <td><%= fund.name %></td>

    <td><%= fund.country_name %></td>
    <td><%= fund.continent %></td>
    <td><%= fund.isin %></td>

    <td><%= link_to 'Show', fund %></td>
    <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
    <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fund', new_fund_path %>
