<h1>Listing regions</h1>
<h2>Download record set <%= link_to "download", regions_downloads_path %>

<table class="table-bordered">
  <tr>
    <th>Sector name</th>
    <th>Number of funds</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.region %></td>
    <td><%= region.funds.count %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>
