<!DOCTYPE html>
<html>
<head>
  <title>Momentum Fund Investing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/world-continents.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/asia.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/north-america-no-central.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/europe.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>


<%=render "shared/navbar" %>

<%= yield %>
<%= render "shared/footer" %>
</body>
</html>
