<!DOCTYPE html>
<html>
<head>
  <title>DsInvest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li>
      <%=link_to "Countries", countries_path %>
    </li>
    <li>
      <%=link_to "Fund Records", fund_records_path %>
    </li>
    <li>
      <%=link_to  "Fund", funds_path %>
    </li>
    <li>
      <%=link_to "File Stats", file_stats_path %>
    </li>
  </ul>
</nav>





<%= yield %>

</body>
</html>
